<p-card [style]="{ 'box-shadow': 'none' }">
    <ng-template pTemplate="header">

    </ng-template>

    <div>
        <p-table #dt [value]="projectControlInfo" [style]="{ width: '100%' }" stripedRows showGridlines
            [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
            [globalFilterFields]="['controliD', 'name', 'description', 'status', 'automation', 'responsible', 'approver', 'deadline', 'frequency', 'linkedRisk']">

            <ng-template pTemplate="caption">
                <div class="d-flex justify-content-between saveExportbtn">
                    <div class="justify-content-start pe-2">
                        <p-iconfield iconPosition="left">
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input pInputText type="text"
                                (input)="dt.filterGlobal($any($event).target.value, 'contains')"
                                placeholder="Search keyword" />
                        </p-iconfield>
                    </div>
                    <div class="justify-content-end saveExport">
                        <button class="btn btn-success mx-2">Save</button>
                        <button class="btn btn-success ms-2">Export</button>
                    </div>
                </div>
            </ng-template>


            <ng-template #header>
                <tr style="border: 2px solid grey;">
                    <th style="width: 4rem; background-color: lightgrey;"><p-tableHeaderCheckbox /></th>
                    <th style="background-color: lightgrey;">
                        Applicable
                    </th>
                    <th style="background-color: lightgrey;">
                        ControlID
                    </th>
                    <th style="background-color: lightgrey;">
                        Name
                    </th>
                    <th style="width:auto;background-color: lightgrey;">
                        Description
                    </th>
                    <th style="width:auto;background-color: lightgrey;">
                        Status
                    </th>
                    <th style="width:auto;background-color: lightgrey;">
                        Automation
                    </th>
                    <th style="width:auto;background-color: lightgrey;">
                        Responsible
                    </th>
                    <th style="width:20%;background-color: lightgrey;">
                        Approver
                    </th>
                    <th style="width:auto;background-color: lightgrey;">
                        Deadline
                    </th>
                    <th style="width:auto;background-color: lightgrey;">
                        Frequency
                    </th>
                    <th style="width:auto;background-color: lightgrey;">
                        LinkedRisk
                    </th>
                    <th style="width:auto;background-color: lightgrey;">Action</th>
                </tr>
            </ng-template>
            <ng-template #body let-projectControlInfo>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="projectControlInfo" />
                    </td>
                    <td style="width:auto;">
                        <p-checkbox [(ngModel)]="projectControlInfo.applicable" [binary]="true" disabled="true"
                            [ngClass]="{ 'green-checkbox': projectControlInfo.applicable }"></p-checkbox>
                    </td>
                    <td style="width: 150px;">{{projectControlInfo.controlId}}</td>
                    <td>{{projectControlInfo.name}}</td>
                    <td class="truncate-cell">{{projectControlInfo.description}}</td>
                    <td>
                        <span [ngClass]="getStatusClass(projectControlInfo.status)">{{ projectControlInfo.status
                            }}</span>
                    </td>

                    <td>{{projectControlInfo.automation}}</td>

                    <td>
                        <!-- <p-dropdown [options]="responsible" [panelStyle]="{ width: '100%' }"
                            [(ngModel)]="projectControlInfo.responsible" placeholder="Select"
                            [style]="{ width: '150px' }" [appendTo]="'body'"></p-dropdown> -->

                        <p-select [options]="responsible" [(ngModel)]="projectControlInfo.responsible"
                            [panelStyle]="{ width: '100%' }" [appendTo]="'body'" [style]="{ width: '150px' }"
                            placeholder="Select">

                            <ng-template #selectedItem let-responsible>
                                <div class="flex items-center gap-2">
                                    <i [class]="responsible.icon" style="margin-right: 8px;"></i>
                                    <div>{{ responsible.label }}</div>
                                </div>
                            </ng-template>

                            <ng-template let-responsible #item>
                                <div class="flex items-center gap-2">
                                    <i [class]="responsible.icon" style="margin-right: 8px;"></i>
                                    <div>{{ responsible.label }}</div>
                                </div>
                            </ng-template>

                        </p-select>

                    </td>
                    <td>
                        <!-- <p-dropdown [options]="approverOptions" [panelStyle]="{ width: '100%' }"
                            [(ngModel)]="projectControlInfo.approver" placeholder="Select" [style]="{ width: '150px' }"
                            [appendTo]="'body'"></p-dropdown> -->
                        <p-select [options]="approverOptions" [(ngModel)]="projectControlInfo.approver"
                            [panelStyle]="{ width: '100%' }" [appendTo]="'body'" [style]="{ width: '150px' }"
                            placeholder="Select" />
                    </td>

                    <td style="width: 20%;">
                        <p-datepicker [showIcon]="true" [appendTo]="'body'" [(ngModel)]="projectControlInfo.deadline"
                            [style]="{ width: '150px' }" />
                    </td>
                    <!-- <td>{{ContactInfo.frequency}}</td> -->
                    <td>
                        <!-- <p-dropdown [options]="frequency" [panelStyle]="{ width: '100%' }" [appendTo]="'body'"
                            [(ngModel)]="projectControlInfo.frequency" placeholder="Select"
                            [style]="{ width: '130px' }"></p-dropdown> -->
                        <p-select [options]="frequency" [(ngModel)]="projectControlInfo.frequency"
                            [panelStyle]="{ width: '100%' }" [appendTo]="'body'" [style]="{ width: '150px' }"
                            placeholder="Select" />
                    </td>

                    <td>{{projectControlInfo.linkedRisk}}</td>
                    <td>
                        <button class="btn btn-primary">Details
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="13" class="text-center">No Contacts found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>