.header {
    background-color: #ffffff;
    color: #232323;
    padding-left: 3%;
    padding-right: 3%;
}

.header h1 {
    font-size: 15px;
    color: #eb812b;
    margin: 0;
}

.logo-img {
    height: 50px;
    width: 50px;
}

.nav-icons i {
    color: #495057;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-icons i:hover {
    color: #eb812b;
}

.profile img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    border: 2px solid #eb812b;
}

.profile span {
    font-size: 12px;
}

.dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sub-header {
    background-color: #495057;
}

.navbar .nav-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #eb812b;
    text-decoration: underline;
}

.navbar .dropdown-menu {
    background-color: #495057;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: start;
}

@media (max-width: 991px) {
    #profileDropdownText {
        display: none;
    }

    .dropdown-item:hover {
        color: #495057;
        background-color: #eb812b !important;
    }

    .fas.fa-chevron-right.open {
        transform: rotate(90deg);
    }

    .nav-item.dropdown {
        position: relative;
    }

    .nav-item .dropdown-menu {
        display: block;
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .nav-item .dropdown-menu.show {
        display: block !important;
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 1;
        transform: scaleY(1);
        height: auto;
    }
}

@media (min-width: 992px) {
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        min-width: fit-content;
        width: 100%;
        transition: all 0.5s ease;
        transition: all 0.5s ease-in-out;
    }

    .dropdown-item:focus {
        background-color: #7055c1 !important;
        :host ::ng-deep .show {
            visibility: hidden;
        }
    }

    :host ::ng-deep .offcanvas-backdrop {
        opacity: 0 !important;
    }

    .offcanvas.show,
    .offcanvas.showing {
        visibility: hidden;
    }

    .dropdown-item:hover {
        color: #495057;
        background-color: #eb812b !important;
    }
}

.navbar .dropdown-item {
    color: #ffffff;
    font-size: 12px;
    transition: all 0.3s ease;
    padding: 8px 12px;
    font-weight: bold;
}

.collapse {
    visibility: unset;
}

.navbar .dropdown-item:hover {
    background-color: #eb812b;
    color: #ffff;
}


.nav-item .nav-link i {
    font-size: 15px;
    color: #fff;
}

.nav-item .nav-link span {
    font-size: 12px;
    color: #fff;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.offcanvas-start {
    width: 255px !important;
    background-color: #495057;
}

.offcanvas-header {
    background-color: #ffffff;
}