.header {
    background-color: #ffffff;
    /* Orange bottom border */
    color: #232323;
    padding-left: 3%;
    padding-right: 3%;
    /* Dark text */
}

.header h1 {
    font-size: 15px;
    color: #eb812b;
    /* Orange text for the title */
    margin: 0;
    /* text-shadow: 1px 1px 0 #c0c0c0; */
}

.logo-img {
    height: 50px;
    width: 50px;
    /* Set height for the logo */
}

.nav-icons i {
    color: #495057;
    /* Icon color (dark gray) */
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-icons i:hover {
    color: #eb812b;
    /* Orange color on hover */
}

.profile img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    border: 2px solid #eb812b;
    /* Border around the profile picture */
}

.profile span {
    font-size: 12px;
}

.dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sub-header {
    background-color: #495057;
}

.navbar .nav-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #eb812b;
    text-decoration: underline;
}

.navbar .dropdown-menu {
    background-color: #495057;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: start;
}

@media (max-width: 991px) {
    #profileDropdownText {
        display: none;
    }

    .dropdown-item:hover {
        color: #495057;
        background-color: #eb812b !important;
    }

    .fas.fa-chevron-right.open {
        transform: rotate(90deg);
    }
}

@media (max-width: 768px) {
    .nav-item .dropdown-menu {
        display: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
        transform: scaleY(0);
        height: 0;
        overflow: hidden;
    }
    
    .nav-item .dropdown-menu.show {
        display: block !important;
        opacity: 1;
        transform: scaleY(1);
        height: auto;
    }
    
    .fas.fa-chevron-right.open {
        transform: rotate(90deg);
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: none;
        margin-top: 0;
        min-width: fit-content;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        min-width: fit-content;
        width: 100%;
    }
  
    :host ::ng-deep .offcanvas-backdrop {
        opacity: 0 !important;
      }

    .show {
        visibility: hidden;
    }
}

.navbar .dropdown-item {
    color: #ffffff;
    font-size: 12px;
    transition: all 0.3s ease;
    padding: 8px 12px;
    font-weight: bold;
}

.collapse {
    visibility: unset;
}

.navbar .dropdown-item:hover {
    background-color: #eb812b;
    color: #ffff;
}


.nav-item .nav-link i {
    font-size: 15px;
    color: #fff;
}

.nav-item .nav-link span {
    font-size: 12px;
    color: #fff;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.offcanvas-start {
    width: 255px !important;
    background-color: #495057;  
}

.offcanvas-header {
    background-color: #ffffff;
}