.dropdown-item:hover {
    background-color: #007bff;
    /* Primary blue */
    color: #ffffff;
    /* White text */
}

.card-dropdown {
    background-color: rgba(0, 0, 0, .03);
    /* Set default text color */
}

/* Card Styling for Same Height */
.card {
    height: 100%;
    /* Ensures equal height */
    display: flex;
    flex-direction: column;
}

.progress {
    height: 4%;
}

.progress-bar {
    background-color: #495057;
}

.input-group-text {
    padding: 0.6rem 0.75rem;
}

.import-export {
    border-radius: 5px;
    background-color: #495057;
    cursor: pointer;
}

.plus-box {
    font-size: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    /* Flexbox for centering */
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    color: #6c757d;
    /* Default text color */
    font-weight: bold;
    margin: 0 auto 10%;
    /* Centers the box itself in the container */
    box-sizing: border-box;
    /* Ensures border doesn't add to dimensions */
    line-height: 1;
    /* Prevent any extra line-height spacing */
}

.plus-box:hover {
    border-color: #007bff;
    /* Blue border on hover */
    color: #007bff;
    /* Blue '+' sign on hover */
}

/* Force cards to have the same size */
.card-body {
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Custom Scrollbar for PrimeNG Dialog */
::ng-deep .p-dialog .p-dialog-content {
              /* Set a maximum height if needed */
    overflow-y: auto;            /* Enable vertical scrolling */
  }
  
  ::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar {
    width: 1%;                  /* Scrollbar width */
  }
  
  ::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-track {
    background: #f1f1f1;         /* Track background */
  }
  
  ::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-thumb {
    background: #888;            /* Thumb color */
    border-radius: 2%;          /* Rounded edges */
  }
  
  ::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar-thumb:hover {
    background: #555;            /* Thumb hover effect */
  }
  
  /* Firefox Compatibility */
  ::ng-deep .p-dialog .p-dialog-content {
    scrollbar-width: thin;            /* Firefox scrollbar size */
    scrollbar-color: #888 #f1f1f1;    /* Thumb and track colors */
  }