/* General Styles */
.dashboard-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

/* Close Button */
.close-button {
  font-size: 25px;
  color: red;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Tabs Styling */
.btn-custom-tab {
  background-color: #b7b4d8;
  color: white;
  font-weight: bold;
  border-radius: 0%;
}

.btn-custom-tab.active {
  background-color: #63b3ed;
}

.btn-custom-primary {
  background-color: #63b3ed;
  color: white;
  border: none;
}
.progress {
  height: 10px;
}

.progress-bar {
  background-color: #63b3ed;
  height: 100%;
}

@media (max-width: 768px) {
  .progress {
    height: 5px; /* Smaller on small screens */
  }
}

.btn-custom-primary:hover {
  background-color: #46a7ec;
}

/* Required Fields */
.required {
  color: red;
}

/* Form Group */
.form-group.row {
  display: flex;
  align-items: center;
}

.form-group label {
  text-align: left;
}

.form-group .col-sm-9 {
  padding-left: 0;
}

/* Form Inputs */
.form-group .form-control,
.form-group .form-select,
.form-group textarea {
  width: 100%;
}

/* Top Padding for Form */
.form-container {
  padding-top: 20px; /* Added padding to make header visible */
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}
.form-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}